.header-wrapper{
    position: sticky;
    width: 100%;
    top: 0;
    background-color: #ffffff;
    // overflow: hidden;
    box-shadow: 0 -10px 10px 5px;
   
    z-index: 1000;
    .nav-wrap{
        position: relative;
        .navbar-sec{
            display: flex;
            align-items: center;
            .logo-container{
    
                .logo-main{
                    padding: 10px;
                    .logo{
                        width: 100%;
                    }
                }
            
    
            }
            .navbar-nav-wrap{
                display: flex;
                flex-grow: 1;
                .navbar-nav{
                    display: flex;
                    align-items: center;
                    flex-grow: 1;
                    padding: 15px 40px;
                    position: relative;
                    justify-content: center;
                    .navbar-item{
                        padding: 10px;
                        .navbar-toggle-icon{
                            font-family: "Material Design Icons";
                            font-size: 18px;
    
                        }
                        .navbar-link{
                            width: 100%;
                            &:hover{
        
                                color: $prime-blue;
                            }
    
                        }
                        .navbar-submenu-wrap{
                            width: 100%;
                            position: absolute;
                            // border: 1px solid;
                            z-index: 14;
                            top: 70%;
                            left: 0;
                            // display: none;
                            .navbar-submenu-inner{
                                box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.18);
                                background-color: #ffffff;
                                border-radius: 8px;
                                padding: 30px 25px 50px;
                                display: flex;
                                .navbar-submenu-item{
                                    padding: 10px;
                                    flex-basis: 50%;
                                    flex-grow: 1;
                                    .subment-list{
                                        .subment-list-item{
                                            margin: 0;
                                            display: block;
                                            padding: 10px;
                                        }
                                    }
                                }
    
                            }
    
                        }
                    }
                }
    
            }
            .navbar-element{
                padding: 25px 30px;
                position: relative;
                display: flex;
                flex-grow: .1;
                justify-content: space-between;
                
                .nav-btn{
                    color: #000;
                    // border-color: #000;
                    
                }
                .navbar-aside{
                    color: #000;
                    font-size: 2rem;
                    align-self: center;
    
                }
            }
    
        }

    }

    

    
}