// prime colors:
$prime-blue:#2c4281;
$prime-black:#243238;


//secodary-colors:
$sec-blue:#173499;
$sec-green:#09b294;

//colors:
$text-white: #ffff;
$bg-gray:#f9f8f8;
$text-black:#151515;
$pr2-blue:#2a4696;
$lite-gray:rgba(255, 255, 255, 0.5);
